<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<group groupName="ExperienceProfileContactViews">
				<pipelines>
					<downloadedpdffiles>
						<processor type="Sitecore.TC.ExperienceProfile.CIntel.Reporting.Contact.DownloadedPdfFiles.ConstructDownloadedPdfFilesDataTable, Sitecore.TC.ExperienceProfile" />
						<processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
							<param desc="queryName">visit-events-query</param>
						</processor>
						<processor type="Sitecore.TC.ExperienceProfile.CIntel.Reporting.Contact.DownloadedPdfFiles.PopulateDownloadedPdfFilesWithXdbData, Sitecore.TC.ExperienceProfile" />
						<processor type="Sitecore.Cintel.Reporting.Processors.ApplySorting, Sitecore.Cintel"/>
						<processor type="Sitecore.Cintel.Reporting.Processors.ApplyPaging, Sitecore.Cintel"/>
					</downloadedpdffiles>					
				</pipelines>
			</group>
			<!-- This pipelines is not required, as we can get everything we need from the existing visit-events-query -->
			<!--<group groupName="ExperienceProfileContactDataSourceQueries">
				<pipelines>
					<downloadedpdffiles-query>
						<processor type="Sitecore.TC.ExperienceProfile.CIntel.Reporting.ReportingServerDataSource.DownloadedPdfFiles.GetDownloadedFiles, Sitecore.TC.ExperienceProfile"/>
					</downloadedpdffiles-query>
				</pipelines>
			</group>-->
		</pipelines>
	</sitecore>
</configuration>