<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<experienceProfile>			
			<resultTransformManager>
				<resultTransformProvider>
					<intelResultTransformers>
						<add viewName="none" type="Sitecore.TC.ExperienceProfile.CIntel.Client.Transformers.Contact.DefaultResultTransformer, Sitecore.TC.ExperienceProfile"/>
					</intelResultTransformers>
				</resultTransformProvider>
			</resultTransformManager>
		</experienceProfile>
	</sitecore>
</configuration>