<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<!-- Creates a set of http endpoints that expose our custom fields on a contact. -->
				<processor type="Sitecore.TC.ExperienceProfile.CIntel.Endpoint.Plumbing.InitializeRoutes, Sitecore.TC.ExperienceProfile" patch:after="*[last()]" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
